// Put any @imports here
// See Readme for a list of supported ones

@import 'bourbon';
@import 'neat';
$mobile: new-breakpoint(max-width 600px 4);


body {
  background: #e2ebf3;
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme  {
 color: white;
}

// .blocks {
//   div {
//     border: 1px solid red;
//   }
// }
//

.twoppiece0 {
    position: absolute;
    cursor: move;
    width: 200px;
	  height: 200px;
    background-position: 0 0;
    background-size: 200% 200%;
    margin: 0;
}
.twoppiece3 {
    position: absolute;
    width: 200px;
	  height:200px;
    background-position: 100% 100%;
    background-size: 200% 200%;
}
.twoppiece1 {
    position: absolute;
    width: 200px;
	  height:200px;
    background-position: 100% 0;
    background-size: 200% 200%;
}
.twoppiece2 {
    position: absolute;
    width: 200px;
	  height:200px;
    background-position: 0 100%;
    background-size: 200% 200%;
}

.fiveppiece0 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 0 0;
    background-size: 500% 500%;
}

.fiveppiece1 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 25% 0;
    background-size: 500% 500%;
}

.fiveppiece2 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 50% 0;
    background-size: 500% 500%;
}

.fiveppiece3 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 75% 0;
    background-size: 500% 500%;
}

.fiveppiece4 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 100% 0;
    background-size: 500% 500%;
}

.fiveppiece5 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 0 25%;
    background-size: 500% 500%;
}

.fiveppiece6 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 25% 25%;
    background-size: 500% 500%;
}

.fiveppiece7 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 50% 25%;
    background-size: 500% 500%;
}

.fiveppiece8 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 75% 25%;
    background-size: 500% 500%;
}

.fiveppiece9 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 100% 25%;
    background-size: 500% 500%;
}

.fiveppiece10 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 0 50%;
    background-size: 500% 500%;
}

.fiveppiece11 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 25% 50%;
    background-size: 500% 500%;
}

.fiveppiece12 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 50% 50%;
    background-size: 500% 500%;
}

.fiveppiece13 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 75% 50%;
    background-size: 500% 500%;
}

.fiveppiece14 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 100% 50%;
    background-size: 500% 500%;
}

.fiveppiece15 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 0 75%;
    background-size: 500% 500%;
}

.fiveppiece16 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 25% 75%;
    background-size: 500% 500%;
}

.fiveppiece17 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 50% 75%;
    background-size: 500% 500%;
}

.fiveppiece18 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 75% 75%;
    background-size: 500% 500%;
}

.fiveppiece19 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 100% 75%;
    background-size: 500% 500%;
}

.fiveppiece20 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 0 100%;
    background-size: 500% 500%;
}

.fiveppiece21 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 25% 100%;
    background-size: 500% 500%;
}

.fiveppiece22 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 50% 100%;
    background-size: 500% 500%;
}

.fiveppiece23 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 75% 100%;
    background-size: 500% 500%;
}

.fiveppiece24 {
    position: absolute;
    width: 100px;
    height:100px;
    background-position: 100% 100%;
    background-size: 500% 500%;
}

//
// .container {
//   position: relative;
//   width: 1000px;
//   height: 400px;
//   background: red;
//   margin: 0 auto;
// }


#sortable-container5by5 {
    @include outer-container;
    @include media($mobile) {
      margin: 0 12%;
      width: 90%;
    }
    margin: 0 auto;
    width: 550px;

    .as-sortable-item,
    .as-sortable-placeholder {
      @include span-columns(5);
      @include omega(5n);
      @include media($mobile) {
        @include span-columns(3);
        @include omega(3n);
        width: 100px;
        height: 100px;
        margin: 0 auto;
      }
        width: 100px;
        height: 100px;
        margin: 0;
    }
}

#sortable-container2by2 {
    @include outer-container;
    @include media($mobile) {
      margin: 0 12%;
      width: 90%;
    }
    margin: 0 auto;
    width: 550px;

    .as-sortable-item,
    .as-sortable-placeholder {
      @include span-columns(5);
      @include omega(5n);
      @include media($mobile) {
        @include span-columns(3);
        @include omega(3n);
        width: 100px;
        height: 100px;
        margin: 0 auto;
      }
        width: 200px;
        height: 200px;
        margin: 0;
    }
}
