<div id="sortable-container2by2">
  <div class="sortable-row" as-sortable="sortableOptions" ng-model="itemsList.items1">
      <div ng-repeat="item in itemsList.items1" as-sortable-item>
          <div data-id="{{item._id}}" class="{{item.Id}}" as-sortable-item-handle ng-style="{'background-image':'url(/images/railscode.png)'}"></div>
      </div>
  </div>
</div>

<div class="leaderboard">
  <h2>HTML Superheroes</h2>
      <table>
        <tr>
          <th>Puzzle Title</th>
          <th>Solved By</th>
          <th>Duration</th>
          <th>Made By</th>
        </tr>

        <tr ng-repeat="stat in leaders">
          <td>{{stat.puzzle_title}}</td>
          <td>{{stat.solved_by}}</td>
          <td>{{stat.duration / 60 | number:0}} secs</td>
          <td>{{stat.made_by}}</td>

        </tr>

      </table>

</div>


<a href="#/5by5"><button>5 by 5</button></a>
<a href="#/"><button>Home</button></a>


<form ng-submit="addImage(obj)">
<input type="text" placeholder="Add Twitter Handle" ng-model="obj.maker_handle">
<input type="file" id="uploadCustomImage" value="Upload image" ng-model="obj.image_file_name">
<button>Submit</button>
</form>
