
<div id="sortable-container">
  <div class="sortable-row" as-sortable="sortableOptions" ng-model="itemsList.items1">
      <div ng-repeat="item in itemsList.items1" as-sortable-item>
          <div class="{{item.Id}}" as-sortable-item-handle ng-style="{'background-image':'url(http://www.gannett-cdn.com/-mm-/13ffa70795774f14fe8cae0f9d8e21bb6f6ad345/c=97-0-3544-2592&r=x513&c=680x510/local/-/media/2015/01/31/USATODAY/USATODAY/635583396491961824-C01-ALMOST-14-69943048.JPG)'}"></div>
      </div>
  </div>
</div>
